# This is Git's per-user configuration file.
[user]
# Add git email in below.
	name = Jim Birch
	email = ADD_GIT_EMAIL_HERE
[core]
	editor = subl -n -w
	excludesfile = /Users/jim/.gitignore_global
[alias]
	dad = !curl https://icanhazdadjoke.com/ && git add
